@import '../utils/variables';
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.button{
        padding: 20px 40px;
        background-color: $main-color;
        color: white;
        border:none;
        font-size: 24px;
        margin-top: 5%;
        transition: 0.4s;
        &:hover{
            background-color: rgb(245, 81, 40);
        }
}
.span{
    color: $main-color;
    font-family: cursive;
}
.h2{
    font-size: 48px;
    margin-top: 5%;
}